<ul class="navbar-top">
    <li><a href="/profile">Andromeda<i class="fa fa-tasks" aria-hidden="true"></i></a></li>
    <li style="float: right;"><a href="/logout">Logout</a></li>
</ul>

<style>
    body {
        margin: 0;
        padding: 0;
    }
    
    .navbar-top {
        margin: 0;
        padding: 0;
        overflow: hidden;
        list-style-type: none;
        background-color: rgb(102, 140, 255);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    }
    
    .navbar-top li {
        float: left;
    }
    
    .navbar-top li a i {
        margin-left: 10px;
    }
    
    .navbar-top li a {
        display: block;
        cursor: pointer;
        font-family: 'Open Sans', sans-serif;
        font-size: 25px;
        padding: 20px;
        color: white;
        text-decoration: none;
    }
    
</style>