<!doctype html>
<html>
    <head>
        <% include partials/head.ejs %>
    </head>
    <body>
        <div class="container">
            <h1>Andromeda</h1>
            <h2>-Task Manager-</h2><br>
            <p>Signup or Login:</p>
            <a href="/login"><button class="button login">Login</button></a>
            <a href="/signup"><button class="button signup">Signup</button></a>
        </div>
        <div class="container2">
            <p><strong>Tools Used: HTML, CSS (with a little bit of Bootstrap), JavaScript (Node.JS - Express, EJS, Passport, Mongoose, Bcrypt), MongoDB</strong></p>
            <p>Find the source code here: <a href="https://github.com/ahmedpanju/Andromeda" style="text-decoration: none;">https://github.com/ahmedpanju/Andromeda</a></p>
        </div>
    </body>
</html>